.clearMargin{
  margin: 0;
}
body{
  padding-top: 10px;
  background: linear-gradient(#64B587, #C17D4D);
  color: white;
}
/* label color */
 .input-field label {
   color: #ffff;
 }
 /*para las líneas de la o*/
.line-o{
   font-size: 1.5em;
}
.line-o:before {
   content: "";
   display: inline-block;
   border: 0.01em solid white;
   width: 15em;
   margin-bottom: 0.6em;
   margin-right: 1em;
}
.line-o:after{
   content: "";
   display: inline-block;
   border: 0.01em solid white;
   width: 15em;
   margin-bottom: 0.6em;
   margin-left: 0.7em;
}
#smallOne{
  background-color: red;
  height: 25vh;
  /*border: 10px solid #FFF;*/
  background-position: center;
}
#smallTwo{
  background-color: pink;
  height: 25vh;
  /*border: 10px solid #FFF;*/
  background-position: center;
}
#imageTall{
  background-color: purple;
  height: 50vh;
  /*border: 10px solid #FFF;*/
  background-position: center;
}
#logo{
  background-color: grey;
  height: 3em;
}
.row .col.imgContainer{
  padding: 0;
  display: flex;
}
.imageDiv{
/*  background-image: url(../images/panda1.jpg);*/
  display: inline-block;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 20%;
  padding-top: 20%;
  margin: 0;
}
